.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f4f0e6; /* Light beige */
  color: #5b4636; /* Warm brown */
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
  color: #4a3b29;
}

.cottage-background {
  background-color: #f4e6d6;
  background-image: url('/path/to/texture.png'); /* Light wood or paper texture */
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-custom {
  background-color: #a67b5b;
  color: #fff;
  border: none;
  border-radius: 10px;
}
.btn-custom:hover {
  background-color: #8a6247;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}